<p id="notice"><%= notice %></p>

<p>
  <strong>First Name:</strong>
  <%= @student.fname %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @student.lname %>
</p>

<p>
  <strong>E-Mail:</strong>
  <%= @student.email %>
</p>

<p>
  <strong>Contact Number:</strong>
  <%= @student.number %>
</p>
<p>
  <strong>Student number:</strong>
  <%= @student.student_number %>
</p>

<p>
  <strong>Faculty:</strong>
  <%= @student.faculty %>
</p>

<p>
  <strong>Year:</strong>
  <%= @student.year %>
</p>

<p>
  <strong>Expire:</strong>
  <%= @student.expiry %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
