<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @startup.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @startup.type %>
</p>

<p>
  <strong>Founded date:</strong>
  <%= @startup.founded_date %>
</p>

<p>
  <strong>Stage:</strong>
  <%= @startup.stage %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @startup.contact %>
</p>

<%= link_to 'Edit', edit_startup_path(@startup) %> |
<%= link_to 'Back', startups_path %>
