<p id="notice"><%= notice %></p>

<p>
  <strong>First Name:</strong>
  <%= @stakeholder.fname %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @stakeholder.lname %>
</p>

<p>
  <strong>E-Mail:</strong>
  <%= @stakeholder.email %>
</p>

<p>
  <strong>Contact Number:</strong>
  <%= @stakeholder.number %>
</p>

<p>
  <strong>Workplace:</strong>
  <%= @stakeholder.workplace %>
</p>

<p>
  <strong>Department:</strong>
  <%= @stakeholder.department %>
</p>

<p>
  <strong>Relation:</strong>
  <%= @stakeholder.relation %>
</p>

<%= link_to 'Edit', edit_stakeholder_path(@stakeholder) %> |
<%= link_to 'Back', stakeholders_path %>
