<h1>All Contacts</h1>

<%= link_to 'New Contact', new_contact_path %>
<%= link_to 'New Student', new_student_path %>
<%= link_to 'New Stakeholder', new_stakeholder_path %>
<%= link_to 'New Executive', new_executive_path %>

<table>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>E-Mail</th>
        <th>Contact Number</th>
        <th>Type</th>
    </tr>

    <% @contacts.each do |contact| %>
    <tr>
        <td><%= contact.fname %></td>
        <td><%= contact.lname %></td>
        <td><%= contact.email %></td>
        <td><%= contact.number %></td>
         <td><%= contact.class %></td>
        <td><%= link_to 'Show', contact_path(contact) %></td>
        <td><%= link_to 'Edit', edit_contact_path(contact) %></td>
        <td><%= link_to 'Destroy', contact_path(contact),
                      method: :delete,
                      data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
</table>