<p>
  <strong>First Name:</strong>
  <%= @contact.fname %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @contact.lname %>
</p>

<p>
  <strong>E-Mail:</strong>
  <%= @contact.email %>
</p>

<p>
  <strong>Contact Number:</strong>
  <%= @contact.number %>
</p>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>